@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-03-04 15:07:02
 * @version $Id$
 */
body {
	margin: 0;
}

li {
	list-style: none;
	font-size: 12px;
}

/*实验2*/
.g-index_2 {
	height: 550px;
}

.g-index_2>.m-bg {
	position: absolute;
	width: 1063px;
	height: 544px;
	background: url('../img/background1.jpg');
	opacity: .4;
}

.g-index_2>.m-menu {
	font-size: 12px;
	font-weight: bold;
	padding: 15px 65px;
	letter-spacing: 0.8px;
	color: #666;
}

.m-mo+.m-mo {
	margin-left: 20px;
}

span.m-mo:first-child {
	color: #000;
}

.left, .right {
	position: absolute;
	top: 46px;
	height: 100%;
}

.left {
	left: 0;
	width: 500px;
}

.main {
	left: 530px;
	width: 200px;
}

.right {
	right: 230px;
	width: 270px;
}

.m-p1 {
	padding: 23px 33px;
	font-size: 13px;
	color: #666;
	list-style: none;
	
}

.m-p2 {
	padding: 33px 33px;
	font-size: 13px;
	color: #666;
	list-style: none;
}

.m-p3 {
	padding: 24px 33px;
	font-size: 13px;
	color: #666;
	list-style: none;
}

.m-p1_name1 {
	letter-spacing: 0.6px;
}

.m-p1_name2 {
	font-size: 18.4px;
	font-weight: bold;
	color: #000;
	letter-spacing: 0.4px
}

.m-p1_name3 {
	letter-spacing: 1px;
}

.m-p1_name4 {
	color: #000;
	font-size: 12.1px;
	letter-spacing: 0.5px;
}

.m-p1_name5 {
	font-size: 10px;
	letter-spacing: 1.1px;
}

.m-p1_name1+.m-p1_name2 {
	line-height: 32px;
}

.m-p1_name2+.m-p1_name3 {
	line-height: 25px;
}

.m-p1_name3+.m-p1_name4 {
	line-height: 39.5px;
}

.m-p1_name4+.m-p1_name5 {
	line-height: 0px;
}

.m-ima {
	position: absolute;
	padding: 24px 537px;
	width: 154px;
	height: 123px;
}

.m-ima_name+.m-ima_name {
	margin-top: 43px;
}

.m-t {
	padding: 55px 7px;
	font-size: 19px;
	list-style: none;
	letter-spacing: 1px;
}

.m-t1 {
	margin-top: -6px;
	margin-left: 9px;
	position: absolute;
	width: 30px;
	height: 50px;
	list-style: none;
	color: #666;
}

.m-t1_n {
	font-size: 25px;
}

.m-t1_n+.m-t1_n {
	margin-top: 96px;
}

.m-t2 {
	position: absolute;
	margin-top: -4px;
	margin-left: 52.5px;
	width: 220px;
	height: 100%;
	list-style: none;
}

.m-t2-p_name1 {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.m-t2-p_name2 {
	font-size: 13px;
	line-height: 32px;
}

.m-t2-p_name3 {
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 9px;
	color: #666;
}

.m-t2-p+.m-t2-p {
	margin-top: 28px;
}

/*实验3*/
.g-index_3 {
	margin-left: 25px;
	margin-top: 90px;
	height: 310px;
}

ul>li {
	font-size: 20px;
}

/*实验4*/
.g-index_4 {
	position: relative;
}

li {
	list-style: none;
}

.g-index_4>.m-bg {
	position: absolute;
	top: 1px;
	width: 608px;
	height: 881px;
	background: url('../img/bk.jpg') no-repeat;
	background-size: 50% 50%;
	opacity: .4;
}

.m-taobao {
	width: 304px;
	height: 440px;
	border: 7px solid #ccd;
	box-sizing: border-box;
}

.m-taobao>.m-hd {
	height: 47px;
	margin-top: 8px;
}

.m-taobao>.m-hd>li {
	text-align: center;
}

.m-taobao>.m-hd>li>label {
	display: block;
	color: #ff6600;
	font-weight: bold;
	font-size: 13px;
	margin-top: 2px;
	margin-bottom: -0.5px;
}

.m-taobao>.m-hd>li>span {
	font-size: 12px;
}

.m-taobao>.m-hd>li:nth-child(1) {
	position: absolute;
	left: 36px;
}

.m-taobao>.m-hd>li:nth-child(2) {
	position: absolute;
	left: 102px;
}

.m-taobao>.m-hd>li:nth-child(3) {
	position: absolute;
	left: 168px;
}

.m-taobao>.m-hd>li:nth-child(4) {
	position: absolute;
	left: 234px;
}


.m-taobao>.m-l1 {
	position: absolute;
	width: 290px;
	height: 32px;
	top: 58px;
	background: #FB2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.m-taobao>.m-l1>li {
	font-size: 12px;
	color: #ff6600;
}

.m-taobao>.m-l1>li>span {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid #ff6600;
	border-top: 5px solid #FB2;
	border-right: 5px solid #FB2;
	border-bottom: 5px solid #FB2;
	left: 227px;
	top: 15px;
}

.m-taobao>.m-l2 {
	position: absolute;
	width: 290px;
	height: 50px;
	top: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.m-taobao>.m-l2>span {
	font-size: 10px;
	padding: 0 4px 2px 4px;
	margin: 0 13px 0 9px;
}


.m-taobao>.m-l2>span:nth-child(3) {
	border-bottom: 2px solid #ff6600;
}

.m-taobao>.m-l3 {
	position: absolute;
	height: 50px;
	top: 141px;
	padding-left: 11px;
	font-size: 5px;
}

.m-taobao>.m-l3>.m-l3-p1 {
	margin-bottom: 9px;
	color: #ff6600;
}

.m-taobao>.m-l3>.m-l3-p1>span {
	margin-right: 27px;
}

.m-taobao>.m-l3>.m-l3-p2>span {
	margin-right: 43px;
}

.m-taobao>.m-l4 {
	position: absolute;
	width: 290px;
	height: 78px;
	top: 198px;
}

.m-taobao>.m-l4>span {
	text-align: center;
	position: absolute;
	height: 77px;
	width: 72px;
}

.m-taobao>.m-l4>span:nth-child(1) {
	border-left: 1.5px solid #ff6600;
	border-top: 1.5px solid #ff6600;
	border-right: 1.5px solid #ff6600;
}

.m-taobao>.m-l4>span:nth-child(2) {
	left: 73px;
	border-top: 1.5px solid #666;
	border-right: 1.5px solid #666;
	border-bottom: 1.5px solid #ff6600;
}

.m-taobao>.m-l4>span:nth-child(3) {
	left: 146px;
	border-top: 1.5px solid #666;
	border-right: 1.5px solid #666;
	border-bottom: 1.5px solid #ff6600;
}

.m-taobao>.m-l4>span:nth-child(4) {
	left: 218px;
	border-top: 1.5px solid #666;
	border-bottom: 1.5px solid #ff6600;
}

.m-taobao>.m-l4>span>div {
	margin: 13px 0 8px 24px;
	width: 22px;
	height: 24px;
	background: url('../img/img.jpg') no-repeat;
}

.m-l4>span>li {
	font-size: 10px;
}

.m-b {
	position: absolute;
	width: 289px;
	height: 158px;
	top: 275px;
	font-size: 5px;
	border-left: 1.5px solid #ff6600;
	border-right: 1.5px solid #ff6600;
	border-bottom: 1.5px solid #ff6600;
}

.m-b>span {
	position: absolute;
	margin-left: 273px;
	margin-top: 5px;
}

.m-b-l1 {
	height: 34px;
	width: 260px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #666;
}

.m-b-l1>span {
	margin: 19px 10px 20px 14px;
}

.m-b-l1>span:nth-child(1) {
	color: #ff6600;
}

.m-b-l2 {
	height: 52px;
	margin-left: 15px;
	margin-right: 84px;
}

.m-b-l2>li {
	width: 190px;
	padding: 5px 0 3px 3px;
	border: 1px solid #666;
	color: #666;
}

.m-b-l3 {
	margin-top: 6px;
	margin-left: 15px;
}

.m-b-l3>span:nth-child(1) {
	margin-left: 2px;
}

.m-b-l3>span:nth-child(2) {
	color: #666;
}

.m-b-l3>span:nth-child(3) {
	color: #ff6600;
	font-weight: bold;
	letter-spacing: 1px;
}

.m-b-l3>li {
	position: absolute;
	width: 68px;
	height: 27px;
	margin-top: 7px;
	background: #ff6600;
	display: flex;
	align-items: center;
	justify-content: center;
}

.m-b-l3>li>span {
	color: white;
}

/*实验5*/
.g-index_5 {
	width: 1000px;
	margin: 40px auto;
}

.g-index_5>.m-hd:after {
	content: '';
	clear: both;
	display: block;
}

.g-index_5>.m-hd>div {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

.g-index_5>.m-hd>.m-lt {
	text-align: right;
}

.g-index_5>.m-hd>.m-lt>img {
	width: 400px;
	height: 300px;
}

.g-index_5>.m-hd>.m-rt {
	padding-left: 30px;
	padding-top: 20px;
}

.g-index_5>.m-hd>.m-rt>.m-top{
	position: relative;
	padding-bottom: 20px;
	font-size: 25px;
}

.g-index_5>.m-hd>.m-rt>.m-top:before {
	content: '';
	width: 50px;
	height: 2px;
	background: #006699;
	display: block;
	position: absolute;
	bottom: 0;
}

.g-index_5>.m-hd>.m-rt>.m-body {
	margin: 40px 80px 50px 0;
	font-size: 17px;
}

.g-index_5>.m-hd>.m-rt>.m-bottom {
	position: relative;
}

.g-index_5>.m-hd>.m-rt>.m-bottom>input {
	width: 170px;
	height: 40px;
	background: #006699;
	border-radius: 5px;
	color: white;
	border: none;
	text-align: left;
	padding-left: 15px;
}

.g-index_5>.m-hd>.m-rt>.m-bottom>span {
	position: absolute;
	top: 8px;
	left: 145px;
	color: white;
}

.g-index_5>.m-bd {
	margin: 50px 70px 0 100px;
}


.g-index_5>.m-bd:after {
	content: '';
	clear: both;
	display: block;
}

.g-index_5>.m-bd>.m-top {
	position: relative;
	padding-bottom: 25px;
	border-bottom:2px solid #b2b8bc; 
	margin-bottom: 5px;
}

.g-index_5>.m-bd>.m-top>span:nth-child(1) {
	font-size: 25px;
	color: #006699;
	font-weight: bold;
	padding-right: 45px;
}

.g-index_5>.m-bd>.m-top>span:nth-child(2) {
	font-size: 20px;
}

.g-index_5>.m-bd>.m-top:before {
	content: '';
	width: 3px;
	height: 20px;
	background: #006699;
	left: 80px;
	top: 8px;
	position: absolute;
}
.g-index_5>.m-bd>.m-top>div {
	float: right;
	position: relative;
}

.g-index_5>.m-bd>.m-top>.m-but>input {
    width: 150px;
	height: 40px;
	background: #006699;
	border-radius: 5px;
	color: white;
	border: none;
	text-align: center;
}

.g-index_5>.m-bd>.m-top>.m-but>span {
	position: absolute;
	top: 8px;
	right: 20px;
	color: white;
}

.g-index_5>.m-bd>.m-bottom>.m-l {
	height: 25px;
	padding: 25px 0 25px 0;
	border-bottom:2px solid #efefef; 
}

.g-index_5>.m-bd>.m-bottom>.m-l>span:nth-child(1) {
	color: #717171;
	font-size: 15px;
}

.g-index_5>.m-bd>.m-bottom>.m-l>span:nth-child(2) {
	position: absolute;
	margin: 0 20px 0 40px;
	width: 110px;
	height: 25px;
	color: white;
	font-size: 14px;
	border-radius: 10px;
    text-align: center;
    line-height: 25px;
}

.m-spe {
	background: #019ee3;
}

.m-spe1 {
	background:#5aae73;
}

.g-index_5>.m-bd>.m-bottom>.m-l>a {
	margin-left: 170px;
	font-size: 15px;
	color: #000;
}

.g-index_5>.m-ft {
	height: 350px;
	background: #f7f7f7;
	padding-left: 50px; 
	margin-top: 10px;
	box-sizing: content-box;
}

.g-index_5>.m-ft>.m-lt {
	float: left;
	width: 50%;
}

.g-index_5>.m-ft>.m-rt {
	float: right;
	width: 50%;
}

.g-index_5>.m-ft>.m-lt>div:nth-child(1)>h1,.g-index_5>.m-ft>.m-rt>div:nth-child(1)>h1 {
	color: #006699;
	border-left: 5px solid #006699;
	padding-left: 10px;
	font-size: 25px;
}

.g-index_5>.m-ft>.m-lt>.m-b1,.g-index_5>.m-ft>.m-rt>.m-b2 {
	width: 420px;
	height: 220px;
	border: 2px solid #e1e1e1;
	text-align: center;
	padding-top: 20px; 
	background: #fff;
}

.g-index_5>.m-ft>.m-lt>.m-b1>li:nth-child(1) {
	font-size: 20px;
}

.g-index_5>.m-ft>.m-lt>.m-b1>li:nth-child(2) {
	color: #006699;
	font-size: 30px;
	font-weight: bold;
	padding: 15px 0 15px 0;
}

.g-index_5>.m-ft>.m-lt>.m-b1>li:nth-child(5) {
	color: #006699;
	font-weight: bold;
	margin-top: 30px;
	position: relative;
}

.g-index_5>.m-ft>.m-lt>.m-b1>li:nth-child(5):before {
	content: '';
	width: 340px;
	height: 2px;
	background: #e1e1e1;
	position: absolute;
	left:30px;
	top: -15px;
}

.g-index_5>.m-ft>.m-rt>.m-b2>.m-but>input {
    width: 330px;
	height: 50px;
	background: #006699;
	border-radius: 5px;
	color: #fff;
	border: none;
	text-align: left;
	padding-left: 90px;
}

.g-index_5>.m-ft>.m-rt>.m-b2>.m-but>span:nth-child(3) {
	position: absolute;
	right: 60px;
	top: 14px;
	color: #fff;
}

.g-index_5>.m-ft>.m-rt>.m-b2>.m-but>span:nth-child(2) {
	position: absolute;
	left: 170px;
	top: 14px;
	color: #fff;
}

.g-index_5>.m-ft>.m-rt>.m-b2>div {
	margin-top: 25px;
	position: relative;
}

.g-index_5>.m-ft>.m-rt>.m-b2>li:nth-child(2) {
	margin-top: 15px;
}

.g-index_5>.m-ft>.m-rt>.m-b2>li {
	margin-bottom: 5px; 
}



/*实验6*/
.g-index_6 {
	background: #99bd90;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}

li {
	list-style: none;
}

.g-index_6>.g-index1 {
	width: 800px;
	border: 20px solid #cdd3f5;
	margin-right: 100px;
}

.g-index_6>.g-index1>.m-hd {
	border: 1px solid #000;
	display: flex;
	flex-direction: row;
}

.g-index_6>.g-index1>.m-hd>li {
	margin: 20px;
	width: 80px;
	height: 80px;
	background: #cdd3f5;
	border: 1px solid #000;
}

.g-index_6>.g-index1>.m-hd>li:last-child {
	float: right;
}

.g-index_6>.g-index1>.m-hd>i {
	flex: 1;
}

.g-index_6>.g-index1:before {
	content: '';
	width: 760px;
	height: 20px;
	background: #cdd3f5;
	display: block;
	position: absolute;
	justify-content: center;
	top: 142px;
}

.g-index_6>.g-index1>.m-bd {
	margin-top: 20px;
	border: 1px solid #000;
	padding: 20px;
}

.g-index_6>.g-index1>.m-bd>.m-lt {
	width: 230px;
	display: flex;
	flex-wrap: wrap;
	float: left;
}

.g-index_6>.g-index1>.m-bd>.m-lt>span {
	width: 200px;
	height: 300px;
	background: #cdd3f5;
	border: 1px solid #000;
}

.g-index_6>.g-index1>.m-bd>.m-lt>li {
	width: 50px;
	height: 50px;
	background: #cdd3f5;
	border: 1px solid #000;
	margin: 29px 24px 0 0;
}

.g-index_6>.g-index1>.m-bd>.m-rt {
	float: right;
	width: 480px;
	display: flex;
	flex-direction: column;
}

.g-index_6>.g-index1>.m-bd>.m-rt>li {
	width: 480px;
	height: 40px;
	background: #cdd3f5;
	border: 1px solid #000;
	margin-bottom: 15px;
}

.clear {
	clear: both;
}

.g-index_6>.g-index2 {
	margin: 50px;
}

.cm-box {
	width: 390px;
	height: 370px;
	border: 1px solid #000;
	background: #ffffeb;
}

.u-img {
	height: 260px;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
}

.cm-bd {
	padding: 10px 10px 0 10px;
	height: 110px;
	background: #ffe6f6;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.cm-bd>li {
	margin-bottom: 10px;
	width: 370px;
	height: 20px;
	border: 1px solid #000;
	box-sizing: border-box;
	background: #ffffff;
	padding: 0 10px 0 10px;
}

.cm-bd>li:nth-child(1) {
	font-size: 10px;
	font-weight: bold;
}

.cm-bd>li:nth-child(2) {
	font-size: 3px;
	font-weight: bold;
	color: #f83661;
}

.cm-bd>li:nth-child(3) {
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	position: relative;
}

.cm-bd>li:nth-child(3)>span:nth-child(1) {
	font-size: 10px;
	color: #f83661;
	font-weight: bold;
}

.cm-bd>li:nth-child(3)>span:nth-child(2) {
	font-size: 20px;
	color: #f83661;
	font-weight: bold;
}

.cm-bd>li:nth-child(3)>s:nth-child(3) {
	font-size: 8px;
	padding-left: 10px;
}

.cm-bd>li>i {
	flex: 1;
}

.cm-bd>li:nth-child(3)>span:nth-child(5) {
	font-size: 8px;
	float: right;
	color: #f83661;
	font-weight: bold;
}

.cm-bd>li:nth-child(3)>span:nth-child(6) {
	font-size: 8px;
	float: right;
	padding-left: 2px;
}

.g-index_6>.g-index3 {
	width: 936px;
	height: 575px;
	background: #f2f2f3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 1px solid #000;
}

.g-index3>.cm-box {
	width: 290px;
	height: 265px;
	margin: 10px;
	border: 1px solid #e1e1e1;
}

.g-index3>.cm-box>.u-img {
	width: 290px;
	height: 195px;
	border-bottom: 1px solid #e1e1e1;
	background: url('../img/img.jpg');
}

.g-index3>.cm-box>.cm-bd {
	background: #fff;
	height: 70px;
	padding: 2px;
}

.g-index3>.cm-box>.cm-bd>li {
	width: 288px;
	border: 1px solid #fff;
	margin-bottom: 0;
}

.g-index3>.cm-box>.cm-bd>li:nth-child(2)>span:nth-child(2) {
	color: #b4b4b4;
}

.g-index3>.cm-box>.cm-bd>li:nth-child(3)>s:nth-child(3) {
	color: #b4b4b4;
}

.g-index3>.cm-box>.cm-bd>li:nth-child(3)>span:nth-child(6) {
	color: #b4b4b4;
}

/*实验7*/
.ui-grid-1, .ui-grid-2, .ui-grid-3, .ui-grid-4, .ui-grid-5, .ui-grid-6, .ui-grid-7, .ui-grid-8, .ui-grid-9, .ui-grid-10, .ui-grid-11,.ui-grid-12, .ui-grid-13, .ui-grid-14, .ui-grid-15, .ui-grid-16, .ui-grid-17, .ui-grid-18, .ui-grid-19, .ui-grid-20, .ui-grid-21, .ui-grid-22, .ui-grid-23, .ui-grid-24, .ui-grid-25 {
    margin: 0 10px 10px 0;
    float:left;
    display:inline;
}

.ui-grid-1 {width:30px;}
.ui-grid-2 {width:70px;}
.ui-grid-3 {width:110px;}
.ui-grid-4 {width:150px;} /* 右侧推广位的宽度 */
.ui-grid-5 {width:190px;} /* 左侧边栏的宽度 */
.ui-grid-6 {width:230px;}
.ui-grid-7 {width:270px;}
.ui-grid-8 {width:310px;}
.ui-grid-9 {width:350px;}
.ui-grid-10 {width:390px;}
.ui-grid-11 {width:430px;}
.ui-grid-12 {width:470px;}
.ui-grid-13 {width:510px;}
.ui-grid-14 {width:550px;}
.ui-grid-15 {width:590px;} /* 中央区域宽度 */
.ui-grid-16 {width:630px;}
.ui-grid-17 {width:670px;}
.ui-grid-18 {width:710px;}
.ui-grid-19 {width:750px;}
.ui-grid-20 {width:790px;}
.ui-grid-21 {width:830px;} /* 交易明细表区域的宽度 */
.ui-grid-22 {width:870px;}
.ui-grid-23 {width:910px;}
.ui-grid-24 {width:950px;}
.ui-grid-25 {width:990px;} /* 最大页面宽度 */
 
.ui-grid-row {
    margin-right: -10px;
    zoom: 1;
}

.ui-grid-row:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.g-index_7 {
	padding: 20px;
	position: relative;
}
.ui-grid-2, .ui-grid-3, .ui-grid-4, .ui-grid-5, .ui-grid-7, .ui-grid-10,.ui-grid-8, .ui-grid-9, .ui-grid-13 {
	margin-bottom: 0;
}

header>.m-tl {
	width: 685px;
}

header>.m-tl>.m-tab>span {
	background: #248dc8;
	color: #fff;
	padding: 4px 10px 5px;
	border-radius: 5px 5px 0 0;
	display: block;
	text-align: center;
	font-size: 14px;
}

header>.m-tl>.m-tip>span {
	background: #ff6600;
	color: #fff;
	padding: 2px 4px;
	font-size: 16px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 2px;
}

header>.m-tl>.m-fun {
	margin-right: 0;
	border: 1px solid #ccc;
	padding-left: 3px;
}

header>.m-tl>.m-fun>span {
	color: #666;
	padding: 2px 4px 4px;
	font-size: 10px;
	border-radius: 2px;
	text-align: center;
}

header>.m-tl:before {
	content: '';
	width: 674px;
	height: 5px;
	background: #248dc8;
	display: block;
	position: absolute;
	top: 47px;
}

header>.bd>.inf {
	background: #fbfbfb;
	width: 672px;
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	font-size: 14px;
	margin-top: 4px;
}

header>.bd>.inf>.m-l>.m-tm1 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #cf0000;
	font-weight: bold;
}

header>.bd>.inf>.m-l>.m-tm1>span:nth-child(1),header>.bd>.inf>.m-l>.m-tm1>span:nth-child(4) {
	font-size: 16px;
}

header>.bd>.inf>.m-l>.m-tm1>span:nth-child(2) {
	padding-right: 25px;
}

header>.bd>.inf>.m-l>.m-tm1>span:nth-child(3) {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid #cf0000;
	border-top: 5px solid #fbfbfb;
	border-right: 5px solid #fbfbfb;
	border-bottom: 5px solid #fbfbfb;
	left: 100px;
}

header>.bd>.inf>.m-l>.m-tm1:before {
	content: '';
	width: 8px;
	height: 3px;
	background: #cf0000;
	display: block;
	position: absolute;
}

header>.bd>.inf>.m-l>.m-len>span:nth-child(2) {
	color: #cf0000;
	font-weight: bold;
}

header>.bd>.inf>.m-l>.m-tm2 {
	margin: 0 -5px 0 8px;
}

header>.bd>.inf>.m-l>.m-tm2>span:nth-child(2) {
	color: #cf0000;
	font-weight: bold;
}

header>.bd>.inf>.m-l>.m-sum>span:nth-child(2) {
	font-weight: bold;
}

header>.bd>.inf>.m-l>.m-oth>span:nth-child(2) {
	color: #cf0000;
	font-weight: bold;
}

header>.bd>.m-use {
	width: 672px;
	background: #fffbde;
	border: 1px solid #cbcbcb;
	height: 20px;
	padding-top: 2px;
}

header>.bd>.m-use>div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header>.bd>.m-use>div>a {
	text-decoration: underline;
	color: #002cbd;
	padding-right: 10px;
}

section>.tl {
	text-align: center;
	margin-top: 5px;
	color: #607a90;
	font-size: 10px;
}

section>.tl>.m-lt,section>.tl>.m-rt>span {
	background: #cedce8;
}

section>.tl>.m-lt.ui-grid-10, section>.tl>.m-rt>span.ui-grid-2 {
	margin-right: 1px;
}

section>.rot1 {
	width: 672px;
	background: #f2f2f2;
	border: 1px solid #cbcbcb;
	border-top: 1px solid #fff;
	display: flex;
}

section>.rot1>.m-pla {
	font-size: 18px;
	font-weight: bold;
}

section>.rot1>.m-tim {
	justify-content: flex-end;
	align-self: center;
	text-align: right;
}

section>.rot1>.m-tim>a {
	text-decoration: underline;
	color: #002cbd;
}

section>.det {
	display: flex;
	align-items: center;
	font-size: 10px;
}

section>.det>.m-tim {
	text-align: center;
	margin-right: -4px;
}

section>.det>.m-tim>li:nth-child(1) {
	font-weight: bold;
}

section>.det>.m-img>li {
	height: 38px;
	display: flex;
	align-items: center;
}

section>.det>.m-img>li>div {
	height: 38px;
	width: 2px;
	border-left: 2px solid #96c7d8;
	border-right: 2px solid #96c7d8;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
}

section>.det>.m-img>li>div>span {
	background: #96c7d8;
	height: 6px;
	margin-bottom: 6px;
}

section>.det>.m-img>li>div>span:nth-child(4) {
	background: #96c7d8;
	height: 2px;
	margin-bottom: 0;
}

section>.det>.m-pla {
	margin-right: 14px;
	padding-right: 30px;
	box-sizing: border-box;
}

section>.det>.m-pla>span {
	color: #0069a3;
	display: block;
}

section>.det>.m-pla>span:nth-child(2) {
	color: #fff;
	background: #0f529e;
	text-align: center;
	width: 50px;
	border-radius: 3px;
	margin-bottom: 2px;
}

section>.det>.m-fra {
	height: 38px;
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	text-align: center;
}

section>.det>.m-pri {
	font-weight: bold;
	font-size: 15px;
	margin-right: -10px;
}

section>.rot2 {
	width: 672px;
	background: #f2f2f2;
	border: 1px solid #cbcbcb;
	display: flex;
	align-items: center;
	font-size: 14px;
}

section>.rot2>.m-tim {
	text-align: right;
}

section>.rot2>.m-pla {
	margin-right: 0;
	font-weight: bold;
	font-size: 18px;
}

section>.rot2>.m-pla>span {
	margin-right: 20px;
}

section>.rot2>.m-pos {
	text-align: center;
}

section>.rot2>.m-oth {
	justify-content: flex-end;
	text-align: right;
	float: right;
}

section>.rot2>.m-oth>li>a {
	text-decoration: underline;
	color: #002cbd;
}

/*实验8*/
.g-index_8 {
	padding: 20px;
}

.g-index_8>#g-index1 {
	width: 902px;
	height: 602px;
	border: 1px solid #000;
	position: relative;	
	margin: 20px;
}

.g-index_8>#g-index1>.m-box {
	width: 900px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	z-index: 0;
	background: #fff;
}

.g-index_8>#g-index1>.m-box>span {
	width: 135px;
	height: 135px;
	background: #c0c0c0;
	border: 1px solid #000;
	margin: 40px 0 0 36px;
}

.box,.filter:before {
	background: url("../img/backg.jpg") 0 / cover fixed;
	z-index: -1;
}

.box {
	height: 600px;
	width: 900px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}

.filter {
	width: 900px;
	height: 600px;
	position: absolute;
	overflow: hidden;
	z-index: -1;
	top: 0;
	left: 0;
}

.filter:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	filter: blur(20px);
	margin: -30px;
	z-index: 1;
}

.effect {	
	z-index: 1;
}

.m-cli {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 510px;
	height: 510px;
	border: 1px solid #000;
	z-index: 2;
	visibility: hidden;
}

.m-cli>div {
	width: 405px;
	height: 405px;
	position: absolute;
	top: 50px;
	left: 50px;
	background: #808080;
	border: 1px solid #000;
}

.show {
	visibility: visible;
}

.g-index_8>.g-index2 {
	margin: 20px;
	width: 600px;
	height: 450px;
}
.g-index_8>.g-index2>.m-tle {
	width: 330px;
	height: 50px;
	display: flex;
}
.g-index_8>.g-index2>.m-tle>span {
	width: 110px;
	height: 50px;
	border: 1px solid #000;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
}

.g-index_8>.g-index2>.m-tle>span:nth-child(3) {
	border-right: 1px solid #000;
}

.bk {
	background: #c0c0c0;
}

.g-index_8>.g-index2>.m-bd {
	width: 600px;
	height: 400px;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.g-index_8>.g-index2>.m-bd>.num {
    visibility: visible;
}

.g-index_8>.g-index2>.m-bd>span {
	position: absolute;
	font-size: 120px;
	color: #808080;
	visibility: hidden;
}

.g-index_8>#g-index3 {
	width: 600px;
	height: 500px;
	margin: 20px;
	border: 1px solid #000;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: space-between;
}

.g-index_8>#g-index3>.m-dat>li {
	margin: 20px;
	width: 560px;
	height: 50px;
	border: 1px solid #000;
}

.g-index_8>#g-index3>.m-dat>li>span:nth-child(1) {
	width: 55px;
	height: 50px;
	border-right: 1px solid #000;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	float: left;
}

.g-index_8>#g-index3>.m-dat>li>span:nth-child(3) {
	width: 110px;
	height: 50px;
	border-left: 1px solid #000;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	float: right;
}

.g-index_8>#g-index3>.m-but {
	width: 190px;
	height: 50px;
	background: #339966;
	border: 1px solid #000;
	margin: 20px;
	float: right;
	line-height: 50px;
	text-align: center;
	align-self: flex-end;
}

.g-index_8>#g-index3>.m-but>span {
	color: #fff;
	font-size: 20px;
}

/*实验9*/
.g-index_9 {
	margin: 20px;
}

.m-sear {
	background: #06c1ae;
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #05a494;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.m-sear>div>li {
	color: #fff;
	display: inline;
	font-size: 15px;
}

.m-sear>div:nth-child(1)>li {
	font-size: 20px;
}

.m-sear>div:nth-child(1)>li>span::after {
  content: ">";
  position: absolute;
  color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
   left: 45px;
   top: 2px;       
}

.m-sear>div:nth-child(2) {
	width: 700px;
	background: #05a494;
	padding: 5px;
}

.m-sear>div:nth-child(3)>li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.m-sear>div:nth-child(3)>li>span {
	padding-top: 2px;
}

.m-menu {
	padding: 10px 0 10px 0;
}

.m-menu>div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.m-menu>div>li {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ff8822;
}

.m-menu>div>span {
	color: #aeaeae;
	padding-top: 5px;
}

.m-menu:nth-child(2)>div:nth-child(2)>li {
	background: #ea6644;
}

.m-menu:nth-child(2)>div:nth-child(3)>li {
	background: #7788f2;
}

.m-menu:nth-child(3)>div:nth-child(1)>li {
	background: #66ccee;
}

.m-menu:nth-child(3)>div:nth-child(2)>li {
	background: #f7ba5b;
}

.m-menu:nth-child(3)>div:nth-child(3)>li {
	background: #66ccee;
}

.bot>div {
	background: #f0efed;
	height: 20px;
	border-top: 1px solid #ddd8ce;
	border-bottom: 1px solid #ddd8ce;
}

.m-top {
	margin-top: 5px;
}

.m-top>div {
	padding: 10px 30px 15px 30px;
}

.m-top>div:nth-child(1) {
	border-right: 1px solid #ddd8ce;
}

.m-top>div:nth-child(1)>li:nth-child(1) {
	color: #55a40f;
	font-weight: bold;
}

.m-top>div>li:nth-child(2) {
	color: #aeaeae;
}

.m-top>div:nth-child(1)>li:nth-child(3) {
	width: 120px;
	height: 120px;
	background: #666666;
	margin-top: 5px;
	border: 1px solid #c0c0c0;
}

.m-top>div:nth-child(2) {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd8ce;
}

.m-top>div:nth-child(2)>li:nth-child(1)>span:nth-child(1) {
	font-weight: bold;
	color: #ea6644;
	display: block;
	margin-bottom: 10px;
}

.m-top>div:nth-child(2)>li:nth-child(1)>span:nth-child(2) {
	color: #aeaeae;
}

.m-top>div:nth-child(2)>li:nth-child(2) {
	height: 73px;
	width: 73px;
	background: #666666;
	border: 1px solid #c0c0c0;
}

.m-top>div:nth-child(3) {
   	border-right: 1px solid #ddd8ce;	
}

.m-top>div:nth-child(3)>li:nth-child(1) {
	color: #f742a0;
	font-weight: bold;
}

.bd>.m-top>div:nth-child(3)>li:nth-child(2) {
	background: #666666;
	height: 45px;
	width: 45px;
	margin-left: 30px;
	border: 1px solid #c0c0c0;
}

.m-top>div:nth-child(4)>li:nth-child(1) {
	color: #f7ba5b;
	font-weight: bold;
}

.m-top>div:nth-child(4)>li:nth-child(3) {
	margin-top: 5px;
}

.m-top>div:nth-child(4)>li:nth-child(3)>span:nth-child(1) {
	background: #4c4c4c;
	padding: 2px;
	border-radius: 3px;
	color: #fff;
}

.m-time>span:nth-child(3),.m-time>span:nth-child(5) {
	background: #4c4c4c;
	padding: 2px;
	border-radius: 3px;
	color: #fff;
}

.bot1>div {
	background: #f0efed;
	height: 20px;
	border-top: 1px solid #ddd8ce;
	border-bottom: 1px solid #ddd8ce;
	margin-top: 5px; 
}

.m-bot>div {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.m-bot>div:nth-child(1) {
	border-right: 1px solid #ddd8ce;	
}

.m-bot>div>li:nth-child(1)>span:nth-child(1) {
	font-weight: bold;
	color: #ea6644;
	display: block;
	font-size: 20px;
}

.m-bot>div>li:nth-child(1)>span:nth-child(2) {
	color: #aeaeae;
}

.m-bot>div>li:nth-child(2) {
	height: 90px;
	width: 90px;
	background: #666666;
	border: 1px solid #c0c0c0;
}

.m-bot>div:nth-child(2)>li:nth-child(1)>span:nth-child(1) {
	color: #f7ba5b;;
}

.m-tit>div {
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #ddd8ce;		
}

.m-inf>div {
	padding: 10px;
}

.m-inf>div:nth-child(1)>span {
	width: 130px;
	height: 100px;
	background: #666666;
	display: inline-block;
}

.tpz1 {
	position: absolute;
	top: 21px;
	left: -9px;
	width: 80px;
	height: 0;
	border-top: 20px solid #06c1ae;;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	transform: rotate(135deg);
}

.tpz1>span {
	position: absolute;
	top: -20px;
	color: #fff;
	transform: rotate(180deg);
	font-size: 12px;
}

.m-inf>div:nth-child(2)>li:nth-child(1) {
	font-weight: bold;
	font-size: 18px;
	color: #4d4d4d;
}

.m-inf>div:nth-child(2)>li:nth-child(2) {
	color: #aeaeae;
	margin-top: 5px;
}

.m-inf>div:nth-child(2)>li:nth-child(3) {
	position: absolute;
	top: 85px;
}
.m-inf>div:nth-child(2)>li:nth-child(3)>span:nth-child(1) {
	font-size: 20px;
	font-weight: bold;
	color: #06c1ae;
}

.m-inf>div:nth-child(2)>li:nth-child(3)>span:nth-child(2) {
	color: #06c1ae;
	margin-left: -3px;
}

.bor1 {
	border: 1px solid #ff9900;
	border-radius: 5px; 
	color: #ff9900;
	padding: 3px;
	margin-left: 3px;
}

.m-inf>div:nth-child(3)>li {
	position: absolute;
	right: 10px;
	top: 90px;
}

.m-inf {
	border-bottom: 1px solid #ddd8ce;
}

.m-but>div {
	background: #a0c5e8;
}

.m-but>div>li {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #06c1ae;
}

.m-but>div:after {
  	content: ">";
  	position: absolute;
	color: #06c1ae;
	font-weight: bold;
	right: 10px;
	bottom: 13px;
}

.g-index_9>.g-index2 {
	padding: 40px;
}

.g-index2>.hd {
	background: #018ceb;
	padding: 10px 10px 20px 10px;
}

.m-list {
	color: #fff;
	display: flex;
	align-items: center;
}

.m-list>span {
	margin: 25px 30px 0 30px;
}

.m-list>span:nth-child(1) {
	margin-left: 10px;
	padding: 5px 10px 5px 10px;
	background: #0169b0;
	border-radius: 5px;
}

.m-list>span:nth-child(3) {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid #018ceb;
	border-top: 5px solid #fff;
	border-right: 5px solid #018ceb;
	border-bottom: 5px solid #018ceb;
	left: 140px;
	top: 10px;
}

.m-log>li:nth-child(1) {
	color: #fff;
	display: flex;
	justify-content: flex-end;
	font-size: 10px;
	margin-bottom: 10px;
}

.m-log>li:nth-child(1)>span:nth-child(1) {
	padding-right: 5px;
}

.m-log>li:nth-child(1)>span:nth-child(2) {
	border-left: 1px solid #fff; 
	padding-left: 5px;
}

.m-log>li:nth-child(2) {
	background: #fff;
	padding: 3px;
}

.m-log>li:nth-child(2) {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.m-log>li:nth-child(2)>i {
	color: #afafaf;
}

.m-log>li:nth-child(2)>span:nth-child(2) {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid #fff;
	border-top: 5px solid #afafaf;
	border-right: 5px solid #fff;
	border-bottom: 5px solid #fff;
	left: 50px;
	top: 37px;
}

.m-new {
	margin-top: 20px;
}

.m-new>div:nth-child(1) {
	padding-left: 0;
}

.m-new>div:nth-child(1)>li {
	background: #666666;
	height: 220px;
	width: 560px;
}

.m-new>div:nth-child(2) {
	background: #f4f4f4;
	height: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.m-new>div:nth-child(2)>li:nth-child(1) {
	margin-top: 30px;
}

.m-new>div:nth-child(2)>li:nth-child(2) {
	background: #018ceb;
	border-radius: 5px;
	width: 140px;
	height: 30px;
	margin-top: 20px;
}

.m-new>div:nth-child(2)>li:nth-child(3) {
	width: 210px;
	height: 30px;
	border-bottom: 1px dashed #666666;
	margin-bottom: 30px;
}

.m-new>div:nth-child(2)>.l>span:nth-child(1),.bd>.m-new>div:nth-child(2)>.l>span:nth-child(3) {
	color: #018ceb;
}

.m-new>div:nth-child(2)>.l>span:nth-child(2),.bd>.m-new>div:nth-child(2)>.l>span:nth-child(4) {
	color: #999999;
}

.m-new>div:nth-child(2)>.l>span:nth-child(2) {
	padding-right: 30px;
}

.det>.m-tle {
	margin: 10px 0 10px -30px;
}

.det>.m-tle>.col-md-3 {
	padding-left: 14px;
	display: flex;
	justify-content: space-between;
}

.det>.m-tle>.col-md-3:after {
  	content: ">";
  	position: absolute;
	color: #666666;
   	right: 0;
   	top: 0; 
}

.lf>.row>div {
	border: 1px solid #f4f4f4;
	padding-top: 15px;
	padding-bottom: 10px;
}

.lf>.l1>div:nth-child(1)>li:nth-child(3)>span:nth-child(1) {
	border-right: 1px solid #999999;
	padding-right: 10px;
}

.lf>.l1>div:nth-child(1)>li:nth-child(3)>span:nth-child(2) {
	padding-left: 10px;
}

.lf>.l1>div:nth-child(1)>p {
	word-wrap: break-word;
	word-break: break-all;
	text-indent: 1.5em;
	margin-top: 10px;
}

.lf>.l1>div:nth-child(2)>li:nth-child(1) {
	height: 80px;
	width: 160px;
	background: #666666;
}

.data {
	padding-top: 10px;
	color: #999999; 
} 

.data>span:nth-child(1) {
	border-right: 1px solid #999999;
	padding-right: 10px;
}

.data>span:nth-child(2) {
	padding-left: 10px;
}

.lf>.l2>div>li:nth-child(1) {
	height: 80px;
	width: 160px;
	background: #666666;
}

.lf>.l2>div>li:nth-child(2) {
	margin-top: 5px;
	margin-bottom: 2px;
}

.lf>.l2>div>li:nth-child(2)>span {
	color: #fff;
	background: #fa7242;
	padding: 2px;
	border-radius: 3px;
	border: 1px solid #eb4c09; 
}

.lf>.l3>div>li:nth-child(1) {
	width: 245px;
	height: 120px;
	background: #666666;
}

.lf>.l4>div>li:nth-child(1) {
	height: 80px;
	width: 160px;
	background: #666666;
	padding: 3px;
	display: flex;
	align-items: flex-end;
}

.lf>.l4>div>li:nth-child(1)>span:nth-child(1) {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #353535;
	border: 1px solid #9a9a9a;
}

.lf>.l4>div>li:nth-child(1)>span:nth-child(2) {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid #fff;
	border-top: 5px solid #353535;
	border-right: 5px solid #353535;
	border-bottom: 5px solid #353535;
	left: 29px;
	top: 75px;
}
.lf>.l5>div:nth-child(1) {
	border-right: 1px solid #fff;
}

.lf>.l5>div:nth-child(2) {
	border-left: 1px solid #fff;
}

.lf>.l5>div:nth-child(1)>li:nth-child(1) {
	height: 80px;
	width: 160px;
	background: #666666;
	margin-bottom: 50px;
}

.lf>.l5>div:nth-child(2)>p {
	word-wrap: break-word;
	word-break: break-all;
	text-indent: 1.5em;
	margin-top: 10px;
	color: #666674;
}

.lf>.l5>div:nth-child(2)>.data {
	float: right;
}

.lf>.l6>div>p {
	word-wrap: break-word;
	word-break: break-all;
	text-indent: 1.5em;
	margin-top: 10px;
	color: #666674;
}

.lf>.l6>div>.data {
	float: right;
}

.rg>.l>div {
	border: 1px solid #f4f4f4;
	border-bottom: 3px solid #018ceb;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.rg>.l>div:nth-child(1)>li:nth-child(1) {
	height: 80px;
	width: 250px;
	background: #666666;
	border: 1px solid #9a9a9a;
}

.rg>.l>div:nth-child(1)>li:nth-child(2) {
	font-weight: bold;
}

.rg>.l>div:nth-child(1)>li:nth-child(3),.bd>.det>.mid>div:nth-child(3)>li:nth-child(4) {
	color: #999999; 
}

.rg>.l>div:nth-child(1)>li:nth-child(3) {
	padding-bottom: 5px;
}

.tpz2 {
	position: absolute;
	top: 15px;
	right: -25px;
	width: 100px;
	height: 0;
	border-top: 25px solid #018ceb;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	transform: rotate(225deg);
}

.tpz2>span {
	position: absolute;
	top: -22px;
	color: #fff;
	transform: rotate(180deg);
	font-size: 10px;
}

.rg>.l1>div {
	border: 1px solid #f4f4f4;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.rg>.l1>div>li:nth-child(1)>span:nth-child(2) {
	color: #018ceb;
	margin-left: -4px;
}

.rg>.l1>div>li:nth-child(1)>span:nth-child(3) {
	float: right;
	margin-right: 10px;
}

.rg>.l1>div>li:nth-child(1)>span:nth-child(3):after {
  	content: ">";
  	position: absolute;
	color: #666666;
   	top: 15px;
   	right: 10px; 
}

.rg>.l1>div>li:nth-child(1) {
	border-bottom: 1px dashed #f4f4f4;
	padding-bottom: 10px;
}

.rg>.l1>div>div {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rg>.l1>div>div>li {
	height: 80px;
	width: 200px;
	background: #666666;
	display: flex;
	align-items: flex-end;
}

.rg>.l1>div>div>li>span {
	height: 25px;
	width: 200px;
	background: #000;
	color: #fff;
	display: inline-block;
	padding: 5px;
	text-align: center;
}

